In [ ]:
print("Twinkle,Twinkle, little star.\n How I wonder what you are! \n Up above the world so high,\n Like a diamond in the sky.\n")

Twinkle,Twinkle, little star.
 How I wonder what you are!
 Up above the world so high,
 Like a diamond in the sky.

In [ ]:
first_name = input("Enter your  first name:")
last_name = input("Enter your last name: ")
print(last_name,first_name)

Enter your  first name:prachi
Enter your last name: singla
singla prachi

In [ ]:
radius = int(input("Enter the radius : "))
area = 3.14*radius*radius
print(area)

Enter the radius : 5
78.5

In [ ]:
color_list = ["red","blue","yellow","black"]
print(color_list[0])
print(color_list[3])

red
black

In [ ]:
a = int(input("Input an integer: "))
n1 = int("%s" %(a))
n2 = int("%s%s" % (a,a))
n3 = int("%s%s%s" % (a, a,a))
print(n1 + n2 + n3)

Input an integer: 5
615

In [ ]:
values=input("enter the numbers")
list=values.split(",")
print(list)
tuple = tuple(list)
print(tuple)

enter the numbers7,23,5
['7', '23', '5']

In [ ]:
cel=float(input("enter the celcius value"))
far=1.8*cel+32
print(far)

enter the celcius value36
96.8

In [ ]:
num=int(input("enter the number"))
if(num % 2==0):
  print("even")
else:
    print("odd")

enter the number24
even

In [ ]:
year=int(input("enter the year"))
if((year%4==0) and (year%100!=0)):print("leap year")
elif((year%400==0) and (year%100==0)):print("leap year")
else:print("not a leap year")

enter the year2000
leap year

In [ ]:
x1,y1 = int(input("x1:")), int(input("y1:"))
x2,y2 = int(input("x2:")), int(input("y2:"))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(distance)

x1:4
y1:6
x2:5
y2:9
3.1622776601683795

In [ ]:
principle ,rate ,time  = int(input("principle: ")), int(input("rate: ")), int(input("time: "))
CI = principle*((1+rate)**time)
print(CI)

principle: 1000
rate: 5
time: 2
36000

In [ ]:
a1, a2, a3 = float(input("a1:")),float(input("a2:")),float(input("a3:"))
sum = a1 + a2 + a3
if (sum == 180):print("This is a triangle.")
else : print("This is not a triangle.")

a1:60
a2:70
a3:50
This is a triangle.

In [ ]:
N = int(input("Enter the number : "))
c = 0
for i in range (2,N):
  if(N % i == 0):
    c=c+1
  if c > 0:print("Not Prime")
else:print("Prime")

Enter the number : 5
Prime

In [ ]:
n=int(input("enter the number"))
sum=0
for i in range(1,n+1):sum = sum+i**2
print(sum)

enter the number5
55