In [49]:
#1st
def difference(n):
  if n<=17:
    return 17-n
  else:
   return (17-n)*2
print(difference(22))

-10

In [52]:

# 2. Test if a number is within 100 to 1000 or 2000:
def test_range(n):
    if 100 <= n <= 1000 or n == 2000:
        return True
    else:
        return False

print(test_range(540))
print(test_range(1503))

True
False

In [53]:
#3. Reverse a string:

def reverse_string(s):
    reversed_str = ""
    for char in s:
        reversed_str = char + reversed_str
    return reversed_str

print(reverse_string("hello"))

olleh

In [56]:
# 4. Count the number of upper and lower case letters:
def count_case(s):
    upper_count = 0
    lower_count = 0
    for char in s:
        if 'A' <= char <= 'Z':
            upper_count += 1
        elif 'a' <= char <= 'z':
            lower_count += 1
    print("uppercase =",upper_count , "lowercase =",lower_count)
    return upper_count, lower_count

upper, lower = count_case("PythonProgramming")

uppercase = 2 lowercase = 15

In [57]:
#5. Return a list with distinct elements:

def distinct_elements(lst):
    distinct_list = []
    for element in lst:
        if element not in distinct_list:
            distinct_list.append(element)
    return distinct_list

print(distinct_elements([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [59]:
#6. Print even numbers from a list:

def even_numbers(lst):
    evens = []
    for num in lst:
        if num % 2 == 0:
            evens.append(num)
    return evens

print(even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9,10]))

[2, 4, 6, 8, 10]

In [61]:
# 7. Access a function inside a function:

def outer_fun():
    def inner_fun():
        return "the inner function!"

    return inner_fun()

print(outer_fun())

the inner function!

In [63]:
#8. Function attributes to display argument names:

def student(name, age):
    return

student.names = ['name', 'age']
print("Function argument are:", student.names)

Function argument are: ['name', 'age']

In [67]:

#9. Student class with new attribute:

class Student:
  def __init__(write,student_id,student_name,student_class):
    write.student_id=student_id
    write.student_name=student_name
    write.student_class=student_class
  def display_attributes(write):
    print(f"Student id:{write.student_id}")
    print(f"Student name:{write.student_name}")
    print(f"Student class:{write.student_class}")

student=Student(1,"rahul","12th Grade")
student.display_attributes()

Student id:1
Student name:rahul
Student class:12th Grade

In [70]:
#10. Student instances with attributes:

class Student:
  def __init__(write,student_id,student_name,student_class):
    write.student_id=student_id
    write.student_name=student_name
    write.student_class=student_class

student1=Student(1,"Rahul","12th  Grade")
student2=Student(2,"Karan","10th Grade")

print(f"Student1 - ID: {student1.student_id}, Name: {student1.student_name}, Class: {student1.student_class}")
print(f"Student2 - ID: {student2.student_id}, Name: {student2.student_name}, Class: {student2.student_class}")

Student1 - ID: 1, Name: Rahul, Class: 12th  Grade
Student2 - ID: 2, Name: Karan, Class: 10th Grade

In [73]:
#11. Circle class to compute area and perimeter:

import math

class Circle:
  def __init__(write,radius):
    write.radius=radius
  def area(write):
    return math.pi*(write.radius**2)
  def perimeter(write):
    return 2*math.pi*write.radius

circle1=Circle(6)
print(f"The Area is:{circle1.area()}")
print(f"The Perimeter is:{circle1.perimeter()}")

The Area is:113.09733552923255
The Perimeter is:37.69911184307752

In [74]:
#12th  Class with methods to get and print a string:

class StringChange:
  def __init__(write):
    write.input_string=""
  def get_string(write):
    write.input_string=input("Enter a string:")
  def print_string(write):
    print(write.input_string.upper())
str_change=StringChange()
str_change.get_string()
str_change.print_string()

Enter a string:i am learning python
I AM LEARNING PYTHON